* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
}

.medium{
    font-size: 18px;
}

.menu {
    margin: 0 auto;
    width: 635px;
    padding: 35px 0;
}

.menu-item {
    display: inline-block;
    margin: 0 25px;
}

.menu-link {
    text-decoration: none;
    color: #000;
}

.banner {
    background-color: #00BDC9;
    padding: 92px 0;
    margin-bottom: 88px;
}

.banner-image {
    width: 599px;
    height: 368px;
    display: block;
    margin: 0 auto;
}

main {
    padding: 88px 0;
}

.title {
    margin-bottom: 40px;
    font-size: 48px;
    text-align: center;
}

.description {
    width: 860px;
    font-size: 21px;
    color: #161616;
    margin: 0 540px 24px;
}

.description span {
    font-size: 21px;
    font-weight: 600;
    color: #04959E;
}

.list {
    width: 856px;
    margin: 0 540px 50px;
}

.list-item {
    color: #161616;
    font-weight: 400;
    line-height: 27px;
}

.button {
    padding: 10px 24px;
    background-color: #04959E;
    border: none;
    color: #FFF;
    margin: 0 auto;
    display: block;
}

footer {
    border-top: 1px solid #161616;
    padding: 16px 0;
}

footer span {
    text-align: center;
    display: block;
    font-weight: 400;
}


